<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:replace="fragments/head::headFrag"></head>

    <th:block  th:if="@{${'A'.equals(hospital.get('type'))}}">
        <header th:replace="fragments/header::typeAHeaderFrag"></header>
    </th:block>
    <th:block  th:if="@{${'B'.equals(hospital.get('type'))}}">
        <header th:replace="fragments/header::typeBHeaderFrag"></header>
    </th:block>
    <th:block  th:if="@{${'C'.equals(hospital.get('type'))}}">
        <header th:replace="fragments/header::typeCHeaderFrag"></header>
    </th:block>

    <script th:inline="javascript" th:replace="fragments/header::headerScript"></script>

    <th:block th:include="fragments/modalConfirm"></th:block>
    <th:block th:include="fragments/template"></th:block>
    <th:block th:include="fragments/loading"></th:block>
    <div layout:fragment="content" class="bodyClass"></div>

    <th:block  th:if="@{${'A'.equals(hospital.get('type'))}}">
        <th:block th:include="fragments/sideMedicalCard"></th:block>
    </th:block>
    <th:block  th:if="@{${'B'.equals(hospital.get('type'))}}">
        <th:block th:include="fragments/sideMedicalCard"></th:block>
    </th:block>
    <th:block  th:if="@{${'C'.equals(hospital.get('type'))}}">
        <th:block th:include="fragments/sideMediCard"></th:block>
    </th:block>

    <footer th:replace="fragments/footer::footerFrag"></footer>

</html>
